.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(120, 120, 120, 0.693);
  width: 100%;
  height: 100%;
  z-index: 10000;
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.667);
  border-radius: 15px;
  width: 200px;
  height: 200px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
